{%extends 'base.html'%}
{%block content%}
<center>
<h1 class="w3-contain w3-border w3-round-xlarge" style="background-color: white;color:#00796B;border:3px #00796B solid;"> About Us</h1></center>
<div class="w3-contain w3-border w3-round-xlarge">
<h3 style="color:white;text-align:center;font-size: 25px;margin:10px;"> What is Skyteam ?</h3>
<p class="w3-contain w3-white w3-border w3-round-xlarge" style="margin:10px; padding:15px;color :black;font-size: 15px;">Skyteam is a team who created this site , we have different intention and planing to share our experience with you all . Our goal is building a community and getting to help each other and share our experiences </p>
</div>
{%endblock%}